body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.headerDiv{
  background-color: #00918e;
  width: 100%;
  height: 80px;
}
.vendorheaderDiv{
  background-color: #00918e;
  width: 100%;
  height: 8rem;
}


.cursor-pointer{
  cursor: pointer;
}

.statusButton {
  font-size: 12px;
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 5px 30px;
    background: #00918e;
    border-radius: 30px;
    color: #fff;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.small-header{
  min-height: 120px !important;
  height: calc(20vh) !important;
}




.vendorimagebanner{
  width: 8rem;
  height: 8rem;
  
}
.menuTab{
  border-bottom: 1px solid #dee2e6;
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
}
.menuItem{
  margin-bottom: -1px;
  background: 0 0;
  border: 2px solid transparent;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.menuItem.active{
  color: #495057;
  background-color:#00918f93;
  border-color: #dee2e6 #dee2e6 #fff;
}

.modal_content{
  background-color: rgb(241, 216, 187) !important;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 40vw;
  max-height: 50vh;
  border: 1px solid black;
  border-radius: 5px;
  position: absolute;
  left: 30%;
  top: 20%;
}

.add_service_form{
  background-color: #00918e;
  box-shadow: 5px 5px 10px #218886f5 ;
}

.justify-content-end{
  display: flex;
  justify-content: end;
}

.justify-content-evenly{
  display: flex;
  justify-content: space-evenly;
}

.text-align-center{
  text-align: center;
}

.profile {
  background: #00918e;
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    padding-left: 8px !important;
    padding-right: 20px !important;
    color: white;
    font-size: 18px;
    font-weight: 400;
    border: 2px solid white;
}

.site-navbar .site-navigation .site-menu .has-children>a span:before{
  top: 51% !important;
    right: 5px !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before{
  left: 85% !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown>li{
  min-width: 114px !important;
}
.site-navbar .site-navigation .site-menu .has-children .dropdown{
  right: 0 !important;
}

.accept-btn{
  background: green;
  border: 0px;
  color: white;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 0px;
}

.reject-btn{
  background: red;
  border: 0px;
  color: white;
  border-radius: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 2px;
  padding-top: 0px;
}

.bottom-lne{
  color: #00918e;
  border-bottom: 1px solid #00918e;
}